<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2017 Phillip Hsu
  ~
  ~ This file is part of ClockPlus.
  ~
  ~ ClockPlus is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ ClockPlus is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with ClockPlus.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.philliphsu.clock2">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".alarms.background.UpcomingAlarmReceiver"
            android:enabled="true"
            android:exported="false"></receiver>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.philliphsu.clock2.MainActivity" />
        </activity>

        <receiver
            android:name=".alarms.background.PendingAlarmScheduler"
            android:enabled="true"
            android:exported="false"></receiver>
        <receiver
            android:name=".alarms.background.OnBootUpReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".alarms.background.OnBootUpAlarmScheduler"
            android:enabled="true"
            android:exported="false"></service>

        <activity
            android:name=".timers.EditTimerActivity"
            android:label="@string/title_activity_create_timer"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.philliphsu.clock2.MainActivity" />
        </activity>

        <service
            android:name=".timers.TimerNotificationService"
            android:exported="false"></service>

        <activity
            android:name=".ringtone.TimesUpActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_ringtone"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:taskAffinity="com.philliphsu.clock2.RingtoneActivity"></activity>
        <activity
            android:name=".ringtone.AlarmActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_ringtone"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:taskAffinity="com.philliphsu.clock2.RingtoneActivity"></activity>

        <service
            android:name=".ringtone.playback.AlarmRingtoneService"
            android:enabled="true"
            android:exported="false"></service>
        <service
            android:name=".ringtone.playback.TimerRingtoneService"
            android:enabled="true"
            android:exported="false"></service>
        <service
            android:name=".stopwatch.StopwatchNotificationService"
            android:enabled="true"
            android:exported="false"></service>

        <!-- Tasker -->
        <activity
            android:name=".tasker.activities.CreateAlarmActivity"
            android:exported="false"
            android:label="@string/create_alarm_activity"
            android:theme="@style/Theme.AppCompat"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity-alias
            android:name="com.twofortyfouram.locale.example.setting.toast.ui.activity.PluginActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/create_alarm_activity"
            android:targetActivity=".tasker.activities.CreateAlarmActivity">
            <!-- this Intent filter allows the plug-in to be discovered by the host. -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".tasker.activities.DeleteAlarmActivity"
            android:exported="false"
            android:label="@string/delete_alarm_activity"
            android:theme="@style/Theme.AppCompat"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity-alias
            android:name="com.twofortyfouram.locale.example.setting.toast.ui.activity.DeleteAlarmActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/delete_alarm_activity"
            android:targetActivity=".tasker.activities.DeleteAlarmActivity">
            <!-- this Intent filter allows the plug-in to be discovered by the host. -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity-alias>

        <!--
             This is the "fire" BroadcastReceiver. Note that the host will reject plug-in
             BroadcastReceivers for the following reasons:
                - The BroadcastReceiver isn't exported (e.g. android:exported="false")
                - The BroadcastReceiver isn't enabled (e.g. android:enabled="false")
                - The BroadcastReceiver requires permissions not available to the host
                - There are multiple BroadcastReceivers for com.twofortyfouram.locale.intent.action.FIRE_SETTING
        -->
        <receiver
            android:name=".tasker.receiver.FireReceiver"
            android:exported="true"
            android:process=":background">

            <!-- this Intent filter allows the plug-in to discovered by the host. -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
    </application>

</manifest>